<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.rateverse.mapper.DraftItemMapper">

    <insert id="insertDraftItem" useGeneratedKeys="true" keyColumn="draft_item_id" keyProperty="draftItemId">
        INSERT INTO draft_item (draft_topic_id, name, description, image_url)
            VALUES (#{draftTopicId}, #{name}, #{description}, #{imageUrl})
    </insert>

    <delete id="deleteDraftItem">
        DELETE FROM draft_item WHERE draft_item_id = #{draftItemId}
    </delete>

    <delete id="deleteDraftItemsByTopicId">
        DELETE FROM draft_item WHERE draft_topic_id = #{draftTopicId}
    </delete>

    <select id="selectDraftItemsByTopicId" resultType="com.rateverse.bean.DraftItem">
        SELECT draft_item_id, draft_topic_id, name, description, image_url, created_at
            FROM draft_item WHERE draft_topic_id = #{draftTopicId}
    </select>

    <select id="selectDraftTopicByDraftItemId" resultType="com.rateverse.bean.DraftTopic">
        select dt.* from
            draft_item di
            left join draft_topic dt
            on di.draft_topic_id = dt.draft_id
            where di.draft_item_id = #{id}
    </select>

    <!-- 根据 draft_item_id 查询 DraftItem -->
    <select id="selectDraftItemById" parameterType="int" resultType="com.rateverse.bean.DraftItem">
        SELECT draft_item_id, draft_topic_id, name, description, image_url
        FROM draft_item
        WHERE draft_item_id = #{draftItemId}
    </select>

    <!-- 更新 DraftItem -->
    <update id="updateDraftItem" parameterType="com.rateverse.bean.DraftItem">
        UPDATE draft_item
        SET name = #{name},
        description = #{description},
        image_url = #{imageUrl}
        WHERE draft_item_id = #{draftItemId}
    </update>
</mapper>