@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Saira+Semi+Condensed:wght@300;400;500;600&display=swap');

:root {
    --bg-color: #ffffff;
    --section-color: #3D3A74;
    --container-color: #E8EAF6;
    --input-color: #FFFFFF;
    --border-color: #ccc;
    --text-color: #000;
    --input-border-color: #EDEDEF;
    --input-text: #8B9AA6;
    --input-text-focus: #000000;
    --search-logo-filter: brightness(0.5) contrast(1);

    --modal-text-color: #141414;
    --separator-color: #42434a;

    --toggle-bg: #ffffff;
    --toggle-border: #cccccc;
    --slider-color: #ffcc11;
    --sun-color: #aaaaaa; 
    --moon-color: #0099ff;
}
  
.dark-mode {
    --bg-color: #212121;
    --section-color: #1f1f3a;
    --container-color: #3a3a3a;
    --input-color: #424242;
    --border-color: #ccc;
    --text-color: #FFFFFF;
    --input-border-color: #666;
    --input-text: #FFFFFF;
    --input-text-focus: #ffffff;
    --search-logo-filter: invert(1);

    --modal-text-color: #fff;
    --separator-color: #7e8590;
  
    --toggle-bg: #555555;
    --toggle-border: #999999;
    --slider-color: #0099ff;
    --sun-color: #ffcc11; 
    --moon-color: #888888;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

header {
    width: 100%;
    height: 100px;
    background: var(--section-color);
    display: flex;
    flex-direction: row;
    line-height: 100px;
    padding: 1.5%;
    justify-content: space-between;
    align-items: center;
}

.rateverse-logo {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.rateverse {
    color: #FFFFFF;
    font-size: 25px;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 5%;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}

nav ul li {
    font-size: 15px;
    margin: 0 20%;
    list-style: none;
}

.active { 
    color: #FFFFFF;
    border-bottom: 3px solid #FFFFFF;
}

nav ul li a{
    color: #A1B1CB;
}

nav ul li a:focus {
    color: #FFFFFF;
    border-bottom: 3px solid #FFFFFF;
}

.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20%;
    width: 20%;
}

.search-input {
    width: 300px;
    height: 35px;
    background: var(--input-color);
    border-radius: 30px;
    padding-left: 5%;
    font-size: 16px;
    color: var(--input-text);
}

.search-logo {
    width: 20px;
    height: 20px;
    margin-left: -12%;
    background-color: var(--input-color);
    border: none;
    cursor: pointer;
}

.search-input::placeholder {
    color: var(--input-text);
}

.search-logo img {
    filter: var(--search-logo-filter);
}

.notification {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/* Modal profile button */
.profile-dropdown {
    position: absolute;
    top: 80px; 
    right: 1%; 
    z-index: 1000;
    display: none;
}

.profile-dropdown.active {
    display: block;
}

.card-profile {
    width: 300px;
    background-color: var(--bg-color);
    border-radius: 10px;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.separator {
    border-top: 1.5px solid var(--separator-color);
    margin: 0 15px;
}

.card-profile .list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 10px;
}

.card-profile .list .element {
    display: flex;
    align-items: center;
    color: var(--modal-text-color);
    gap: 10px;
    transition: all 0.3s ease-out;
    padding: 4px 7px;
    border-radius: 6px;
    cursor: pointer;
}

.card-profile .list .element:hover {
    background-color: #5353ff;
    color: #fff;
    transform: translate(1px, -1px);
}

.card-profile .list .delete:hover {
    background-color: #8e2a2a;
}

.card-profile .list .element:active {
    transform: scale(0.99);
}

.card-profile .element:hover svg {
    stroke: #fff;
}

.card-profile .list:last-child .element:hover {
    background-color: rgba(0, 109, 29, 0.85);
}

.menu-subtext {
    font-size: 13px;
    color: #7e8590;
    margin-left: auto;
}

/* Modal theme button*/
.card-theme { 
    width: 200px;
    background-color: var(--bg-color);
    border-radius: 10px;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.theme-header {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--modal-text-color);
    padding: 10px 15px;
}

.theme-header .lucide {
    cursor: pointer;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.element {
    padding: 10px;
    cursor: pointer;
    transition: background 0.3s;
}

.element:hover {
    background: #f0f0f0;
}

.toggle-container {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    justify-content: space-between;
}

.theme-toggle {
    display: none;
}

.toggle-label {
    position: relative;
    display: inline-block;
    width: 65px;
    height: 30px;
    background-color: var(--toggle-bg);
    border-radius: 34px;
    border: 2px solid var(--toggle-border);
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.slider {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background-color: var(--slider-color);
    border-radius: 50%;
    transition: transform 0.3s;
}

.icon {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    opacity: 0.7;
}

.sun {
    left: 6px;
}

.sun-color {
    stroke: var(--sun-color);
    fill: var(--sun-color);
}

.moon {
    right: 8px;
}

.moon-color {
    fill: var(--moon-color);
}

.theme-toggle:checked + .toggle-label .slider {
    transform: translateX(36px);
}

.mode-text {
    font-size: 14px;
    font-weight: bold;
    transition: color 0.3s ease; 
}

[data-theme="light"] .mode-text {
    color: black;
}

[data-theme="dark"] .mode-text {
    color: white;
}

.profile {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

/*start main*/
main {
    display: flex;
    padding: 5%;
    gap: 3%;
    background-color: var(--bg-color);
}

.create-list {
    flex: 2;
    background: var(--container-color);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(4, 2, 2, 0.1);
    padding: 5%;
}

.create-list h1 {
    font-size: 32px;
    margin-bottom: 2%;
    color: var(--text-color);
}

.create-list p {
    color: #8B9AA6;
    font-size: 15px;
    margin-bottom: 5%;
    font-weight: 500;
}

.write-topic label, .write-description label {
    display: block;
    margin: 3% 0 1%;
    font-weight: 600;
    color: var(--text-color);
}

.write-topic input, .write-description input {
    width: 100%;
    height: 50px;
    padding: 1.5%;
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    font-family: "Saira SemiCondensed", sans-serif;
    font-weight: 400;
    font-size: 1em;
    background-color: var(--input-color);
}

input::placeholder {
    color: var(--input-text);
}

input:focus {
    color: var(--input-text-focus);
}

.add-rating {
    background: var(--bg-color);
    width: 100%;
    height: 25%;
    padding: 3%;
    border-radius: 5px;
    margin-top: 5%;
}

.add-queue {
    display: flex;
    align-items: center;
}

.add-queue:hover {
    text-decoration: underline;
    color: #5B8AD4;
}

.add-queue img {
    width: 25px;
    height: 25px;
}

#openModal {
    color: #5B8AD4;
    text-decoration: none;
    font-family: "Saira SemiCindensed", sans-serif;
    font-weight: 500;
    font-size: 1.2em;
    background: none;
    border: none;
}

.add-rating p {
    color: #8B9AA6;
    font-family: "Saira SemiCondensed", sans-serif;
    font-weight: 400;
    font-size: 1em;
    margin-top: 5%;
}

.submit-btn {
    width: 20%;
    background: var(--section-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5%;
    color: white;
    font-size: 1em;
}

/*start aside*/
.sidebar {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.sidebar h3 {
    color: var(--text-color);
    font-size: 1.5em;
    border-left: 4px solid #ffbe00;
    padding-left: 8px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.ratings {
    height: 55%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rating-card {
    display: flex;
    justify-content: space-between;
    background: var(--bg-color);
    border: 1px solid var(--border-color);
    padding: 2%;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 5%;
}

.rating-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rating-info strong {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1em;
    color: var(--text-color);
}

.rating-info p {
    font-weight: 400;
    color: #8B9AA6;
    font-size: 0.8em;
}

.rating-image {
    width: 15%;
    height: 96%;
    border-radius: 5px;
}

/*start footer*/
.footer-container {
    width: 100%;
    height: 350px;
    background: var(--section-color);
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5%;
}

.footer-column {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.footer-column h2 {
    margin-bottom: 5%;
    color: #E8EAF6;
    font-family: "Montserrat", sans-serif;
    font-size: 2em;
    font-weight: 800;
}

.footer-column p {
    color: #FFFFFF;
    font-family: "Saira SemiCondensed", sans-serif;
    font-size: 1em;
    font-weight: 300;
}

.social-icons a{
    margin: 5% 5% 5% 0;
    width: 35px;
    height: 35px;
}

.footer-navigation {
    display: flex;
    width: 60%;
    justify-content: space-between;
}

.footer-links {
    flex: 1;
}

.footer-links a {
    display: flex;
    color: #FFFFFF;
    margin-top: 5%;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-statistics {
    flex: 1;
    justify-content: center;
}

.footer-links img{
    margin-right: 3%;
}

.footer-statistics a {
    display: flex;
    color: #FFFFFF;
    margin-top: 5%;
}

.footer-statistics a:hover {
    text-decoration: underline;
}

.footer-statistics img{
    margin-right: 3%;
}

.footer-contact p{
    display: flex;
    margin-top: 5%;
}

.footer-contact img{
    margin-right: 3%;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    background: var(--section-color);
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1em;
    margin-top: -3%;
}


/*Start Modal page*/
.modal {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: var(--bg-color);
    width: 40%;
    height: 90%;
    max-width: 1200px;
    border-radius: 15px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}

.modal-title {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.object-name {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1em;
    color: var(--text-color);
}

.objact-name input, .descriptions input {
    width: 100%;
    padding: 2%;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.object-cover {
    background: #f0f0f8;
    padding: 15px;
    border-radius: 8px;
    margin: 15px 0;
    width: 100%;
    height: 35%;
}

.add-object {
    display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 1em;
    color: #000000;
}

.cover-options {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.cover-option {
    text-align: center;
    background: white;
    padding: 15px;
    border-radius: 8px;
    width: 30%;
    cursor: pointer;
    border: 1px solid #ddd;
}

.cover-option img{
    width: 30%;
    height: 30%;
    margin: 10%;
}

.cover-option p{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    color: #8B9AA6;
}

.cover-option:hover {
    background: #e0e0e8;
}

.descriptions {
    width: 100%;
}

.descriptions label {
    color: var(--text-color);
}

.modal-actions {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.cancel-btn, .save {
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.cancel-btn {
    background: #ccc;
}

.cancel-btn:hover {
    background: #989898;
}

.save {
    background: #574b90;
    color: white;
}

.save:hover {
    background: #453a78;
}