

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", serif;
    font-weight: 300;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1400px;
    margin: 0 auto;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

input {
    width: 300px;
    height: 38px;
    border-radius: 18.5px;
    background-color: #3B567D;
    border-color: #3B567D;
}